# Build outputs
build/
*/build/
app/build/
*.apk
*.ap_
*.dex

# IDE
.idea/
*.iml
.gradle/

# Large folders to exclude
sampledata/
rice-disease-api/
**/rice-disease-api/
app/release/*.apk

# Python
venv/
*.pyc
__pycache__/
*.pth
*.pt
*.onnx
